{
  "name": "Example experiment",
  "notes": "Something I want to remember about the example experiment",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=<COMPLETION_URL>",
  "conditions": [
    {
      "name": "condition1",
      "experiment_URL": "https://path.to.my.experiment/condition1",
      "participants": 10
    },
    {
      "name": "condition2",
      "experiment_URL": "https://path.to.my.experiment/condition2",
      "participants": 10
    }
  ]
}